@font-face {
    font-family: "FuturaStd-Bold";
    src: url("../../font/FuturaStd-Bold.eot") format("eot"),
         url("../../font/FuturaStd-Bold.otf") format("otf"),
         url("../../font/FuturaStd-Bold.ttf") format("ttf"),
         url("../../font/FuturaStd-Bold.woff") format("woff"),
         url("../../font/FuturaStd-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "hello_type_bold-webfont";
    src: url("../../font/hello_type_bold-webfont.eot") format("eot"),
         url("../../font/hello_type_bold-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "hello_type_light-webfont";
    src: url("../../font/hello_type_light-webfont.eot") format("eot"),
         url("../../font/hello_type_light-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "hello_type_regular-webfont";
    src: url("../../font/hello_type_regular-webfont.eot") format("eot"),
         url("../../font/hello_type_regular-webfont.woff2") format("woff2");
}

@font-face {
    font-family: "HelloType";
    src: url("../../font/HelloType.ttf") format("ttf"),
         url("../../font/HelloType.woff") format("woff");
}

@font-face {
    font-family: "HelloType-Bold";
    src: url("../../font/HelloType-Bold.ttf") format("ttf"),
         url("../../font/HelloType-Bold.woff") format("woff");
}

@font-face {
    font-family: "HelloType-Light";
    src: url("../../font/HelloType-Light.ttf") format("ttf"),
         url("../../font/HelloType-Light.woff") format("woff");
}